
        body {
            font-family: Arial, sans-serif;
            margin: 30px;
        }

        h1 {
            color: darkgreen;
            font-size: 48px;
            margin-bottom: 80px;
        }

        p {
            font-size: 25px;
        }

        label {
            color: lightgreen;
            display:flex;
            font-size: 25px;
            margin-top: 35px;
            margin-bottom: 10px;
        }

        input {
            width: 470px;
            height: 55px;
            font-size: 20px;
            padding-left: 10px;
            box-sizing: border-box;
            border-radius: 100px;
        }

        button {
            margin-top: 60px;
            padding: 12px 20px;
            font-size: 20px;
        }
        #resultado{
            font-size: 20px;
        }
        .pai_conteiner{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        body{
            background-color: #f0fff0;
        }
        #resultado{
            width: 200px;
            height: 300px;
            background-color:#FFE4C4 ;
        }
        
    